<% if (telling) { %>
  <h1><%= telling.escape("title") %></h1>

  <!-- Split by \n for formatting purposes -->
  <% var tellingPars = telling.escape("body").split("\n") %>
  <% for (var i = 0; i < tellingPars.length; i++) { %>
    <p>
      <%= tellingPars[i] %>
    </p>
  <% } %>

  <hr>

  <!-- New critique form -->
  <h4>Critique this telling:</h4>
  <form>
    <div class="form-group">
      <textarea name="critique[body]" rows="8" class="form-control"></textarea>
    </div>

    <input type="hidden" name="critique[telling_id]" value="<%= telling.id %>">
    <input type="submit" value="Submit">
  </form>

  <!-- Show current critiques -->
  <h3>Critiques</h3>
  <ul class="list-group">
  <% for (var i = 0; i < telling.critiques().length; i++) { %>
    <% var critique = telling.critiques().models[i]; %>

    <li class="list-group-item">

      <!-- Critique header -->
      <div class="critique-header">
        <!-- Apple icon -->
        <span class="glyphicon glyphicon-apple" aria-hidden="true"></span>

        <!-- Link to critic show -->
        <a class="critic-username"
           href="#/critics/<%= critique.escape("critic_id") %>">
          <%= critique.escape("username") %>
        </a>
      </div>

      <!-- Critique body -->
      <div class="critique-body">
        <%= critique.escape("body") %>
      </div>
    </li>
  <% } %>
  </ul>

<% } %>
